$color-primary: #e10a11;
$color-primary-hover: #ab0a0f;
$color-secondary:#58494e;
$color-secondary-hover:#454545;
$color-tertiary:#fccb34;
$color-tertiary-hover:#d5ab2c;
$tipografia: "Roboto", sans-serif;
$color-white:#ffffff;