body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container-page {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
}

.nav-link {
  text-decoration: none;
  color: #58494e;
  font-weight: 700;
  margin-right: 16px;
}

.nav-link:hover {
  color: #e10a11;
}

.nuestros-servicios {
  font-size: 2rem;
  color: #58494e;
  text-align: center;
}

.fila-servicios {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.fila-servicios div {
  text-align: center;
  width: 30%;
}

.accesos {
  margin: 128px 0px 128px 0px;
  display: flex;
  justify-content: space-between;
}

.accesos img {
  margin-right: 16px;
}

.accesos-productos {
  display: flex;
  background-color: #e10a11;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 1.25rem;
  padding: 16px;
  align-items: center;
  text-decoration: none;
}

.accesos-productos:hover {
  background-color: #ab0a0f;
}

.accesos-pedidos {
  display: flex;
  background-color: #fccb34;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 1.25rem;
  padding: 16px;
  align-items: center;
  text-decoration: none;
}

.accesos-pedidos:hover {
  background-color: #d5ab2c;
}

.accesos-contacto {
  display: flex;
  background-color: #58494e;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 1.25rem;
  padding: 16px;
  align-items: center;
  text-decoration: none;
}

.accesos-contacto:hover {
  background-color: #454545;
}

footer {
  background-color: #e10a11;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  margin-right: 16px;
}

.footer a:hover {
  opacity: 70%;
}

.footer p {
  color: #ffffff;
  font-weight: 700;
}

/*********** QUIENES SOMOS  *************/
.titulo-seccion {
  font-size: 2rem;
  color: #58494e;
  text-align: center;
}

.contenido-qs {
  display: flex;
  justify-content: space-between;
  margin: 64px 0px 64px 0px;
}

.imagen-qs {
  width: 50%;
}

.texto-qs {
  width: 45%;
}

/*********** Productos  *************/
.lista-productos {
  display: flex;
  justify-content: space-between;
  margin: 64px 0px 64px 0px;
}

.item-productos img {
  height: 250px;
}

.item-productos {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  text-align: center;
  width: 20%;
}

.item-productos h5 {
  color: #58494e;
  font-size: 1rem;
}

.item-productos h4 {
  color: #e10a11;
  font-size: 1.25rem;
  margin: 0;
}

/*********** Contacto  *************/
.contenido-cont {
  display: flex;
  justify-content: space-between;
  margin: 64px 0px 64px 0px;
}

.iconos {
  display: flex;
}

.iconos img {
  margin-right: 16px;
}

.mapa {
  width: 75%;
  height: 400px;
}

.rrss-cont {
  width: 20%;
}

.rrss-cont h2 {
  color: #58494e;
}

/*********** Pedidos  *************/
.campos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.campos div {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.mensaje {
  display: flex;
  flex-direction: column;
  color: #58494e;
  margin-bottom: 24px;
}

.boton {
  display: flex;
  justify-content: flex-end;
}

.campos label {
  color: #58494e;
}

.campos input {
  height: 32px;
}

.boton input {
  background-color: #58494e;
  color: #ffffff;
  font-size: 1rem;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 4px;
}

.formulario {
  margin: 80px 0px 80px 0px;
}/*# sourceMappingURL=Style.css.map */